@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>


<h4>Welcome to our website! We are Son Of Cod Seafood! We've been serving the best fish in the Pacific Northwest for 15 years!</h4>
