@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"].</h2>


<h4>We are Son Of Cod Seafood! We've been serving the best fish in the Pacific Northwest for 200 years!</h4>
