@{
    ViewData["Title"] = "Welcome to Son Of Cod Seafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to our website! We are Son Of Cod Seafood! We've been serving the best fish in the Pacific Northwest for </h2>